@font-face {
    font-family: "DisposableDroidBB";
    src: url('https://cdn.rawgit.com/yoku0206/YokuUseFonts/master/fonts/DisposableDroidBB/DisposableDroidBB.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: "DisposableDroidBB";
    src: url('https://cdn.rawgit.com/yoku0206/YokuUseFonts/master/fonts/DisposableDroidBB/DisposableDroidBB_bld.ttf') format('truetype');
    font-style: bold;
}

@font-face {
    font-family: "DisposableDroidBB";
    src: url('https://cdn.rawgit.com/yoku0206/YokuUseFonts/master/fonts/DisposableDroidBB/DisposableDroidBB_ital.ttf') format('truetype');
    font-style: italic;

}